# build output
target/
obj/
build/
bin/

# cache
__pycache__/
*.py[cod]
.ruby-lsp

# artifacts
server/artifacts/*
!server/artifacts/*.rb

# ci
tests/fakehome/*
tests/metadata/fakehome-template/.upstream/state/symlinks/upstream
.release-state
